- n = @report_manager.requests.length

.download-report
  %h1.heading-medium Your report #{"file".pluralize( n )}
  %p
    = n == 1 ? "A link" : "Links"
    to download your
    = "report".pluralize( n )
    will appear below when
    = n == 1 ? "it is" : "they are"
    ready.

  %noscript
    You do not have JavaScript enabled on this page, so please periodically refresh the page
    to see the latest status of the downloads.

  %ol.numbered
    - @report_manager.requests.each do |request|
      = render_report_request( request )

  %p.text-muted.u-large-top-margin
    %strong Note
    If you want to re-run
    = n == 1 ? "this report" : "these reports"
    again in future, please bookmark this page. If your selection
    includes &quot;latest&quot; year, quarter or month, returning to this page will automatically re-run
    the report with the most up-to-date figures.

  %p.text-muted
    To create additional reports, you can
    = link_to( "return to the start", controller: :report_design, action: :show)
    of this application.


:javascript
  (function() {
    var DELAY_MS = 5000;

    var refreshPage = function() {
      var url = window.location;
      url = url + (url.search.match( /_partial/ ) ? "" : "&_partial=true");

      $.get( url )
       .done( function( response ) {
         var html = $(response).filter( ".download-report" );
         var running = html.find( "[data-running=true]" ).length > 0;

         $(".download-report").html( html );
         if (running) {
           setTimeout( refreshPage, DELAY_MS );
         }
       } );
    };

    setTimeout( refreshPage, DELAY_MS );
  })();
