= content_for(:title, 'Price Paid Data &ndash; Standard Reports'.html_safe)

%h1.heading-large
  = yield(:title)

%p
  HM Land Registry publishes open data on prices paid for properties sold in England and Wales. For customers who want
  aggregated price data for statistical analysis, this
  %strong
    standard reports application
  allows anyone to configure a report for various geographical areas in England and Wales,
  from the country level down to postcode sectors, and then download the data in a form suitable
  for use in a spreadsheet or other data analysis tool.

%p
  There is no charge for using this service.

%p
  = link_to('create a standard report', {controller: :report_design, action: :show}, class: 'button button-start')

%p
  Note: standard reports contain aggregated prices by geographical area. If you are looking for details
  of individual property sales, please use the
  %a{ href: "/app/ppd", class: "text-link" }
    PPD report builder
  instead.

%p
  You can read more information
  = succeed "." do
    = link_to "about this service", "https://www.gov.uk/guidance/price-paid-data-standard-reports#guidance-on-searching-the-data", class: "text-link"

