= content_for(:title, "Your report file".html_safe)

= render partial: "help"
.review-report

  %h1.heading-medium
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Summary

  %p
    The report options you have selected are:

  %ul.list.list-bullet.c-review-report
    = review_selections( @workflow )

  = form_tag( @workflow.form_action( :download_report, :show ), method: "get" ) do
    = layout_existing_values( @workflow )
    = submit_tag( "Generate report", class: "button", name: nil )
