.review-report
  = render partial: "progress_indicator", locals: {workflow: @workflow}

  %h1
    Summary

  %p
    The report options you have selected are:

  %ul.list-unstyled.options-summary
    - @workflow.each_state do |state_key, value|
      %li
        = @workflow.summarise_selection( state_key, value )

  = form_tag( @workflow.form_action( :download_report, :show ), method: "get" ) do
    = layout_existing_values( @workflow )
    = submit_tag( "Generate report", class: "button", name: nil )
