= content_for(:title, "#{@workflow.step_progress_summary} &ndash; Report Design".html_safe)

- step = @workflow.current_step
- step_values = step.values( @workflow )

= render partial: "help"
.select-report
  %h1.heading-medium
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Select a report type

  %p
    Different types of report can be created over the price paid data.
    Please choose one of the following:

  = form_tag( @workflow.form_action, method: "get" ) do
    .row
      %fieldset.col-sm-12
        %ul.list-unstyled
          %li{"aria-labelled-by": "average-prices-report"}
            .o-form-control
              %label.o-form-control--label
                = radio_button_tag( step.form_param, step_values[0].value, step_values[0].active?, class: "o-form-control--input" )
                = step_values[0].label
                %details
                  %summary#average-prices-report
                    %span.summary
                      Click to view an example of the average prices and volumes report type
                  %div.panel
                    = image_tag( "average-prices-report-screenshot.png", alt: "Screenshot of example average prices report " )
          %li{"aria-labelled-by": "banded-prices-report"}
            .o-form-control
              %label.o-form-control--label
                = radio_button_tag( step.form_param, step_values[1].value, step_values[1].active?, class: "o-form-control--input" )
                = step_values[1].label
                %details
                  %summary#banded-prices-report
                    %span.summary
                      Click to view an example of the banded prices report type
                  %div.panel
                    = image_tag( "banded-prices-report-screenshot.png", alt: "Screenshot of example banded prices report " )

      = layout_existing_values( @workflow )
      = layout_submit_button
