= content_for(:title, "#{@workflow.step_progress_summary} &ndash; Report Design".html_safe)

= render partial: "help"
.select-pc-area

  %h1.heading-medium
    = render partial: "progress_indicator", locals: {workflow: @workflow}
    Select a postcode area

  %p
    Choose which postcode area the report should cover. A postcode area is
    the first one or two letters of a UK postcode, for example &quot;B&quot;
    or &quot;TA&quot;

  = workflow_step_form( @workflow, "pc_area" )
