!!! html
%html
  %head
    %title Land Registry - PPD standard reports
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = stylesheet_link_tag "https://www.gov.uk/service-manual/assets/govuk_template/stylesheets/govuk-template.css", media: "all"
    = stylesheet_link_tag "https://www.gov.uk/service-manual/assets/stylesheets/main.css", media: "all"
    = favicon_link_tag
    %script{ type: "text/javascript", src: "https://apis.google.com/js/plusone.js"}
      {"parsetags": "explicit"}

    - if @preferences
      %link{ rel: "canonical", href: "http://#{request.host_with_port}#{@preferences.as_path( :view )}"}

    /[if lt IE 9]
      %script{ src: "assets/html5shiv.js", type: "application/javascript"}
      %script{ src: "assets/respond.min.js", type: "application/javascript"}
  %body.government.website.lr.ppd-standard-report
    :javascript
      document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');

    %header#global-header.with-proposition.c-lr-header{ role: "banner" }
      .header-wrapper
        .header-global
          .header-logo
            %a.content{ href: "https://www.gov.uk/government/organisations/land-registry/", title: "Go to the Land Registry homepage" }
              = image_tag "lr_logo_221_80.png"
        .header-proposition.c-lr-header--header-proposition
          .content
            %a.js-header-toggle.menu{ href: "#proposition-links"}
              Menu
            %nav#proposition-menu
              - relative_root = Rails.application.config.relative_url_root || ""

              %a#proposition-name.c-lr-header--proposition-name{ href: "http://landregistry.data.gov.uk" }
                Land Registry Linked Open Data
              %ul#proposition-links
                %li
                  %a.c-lr-header--header-proposition--a{ href: "#{relative_root}/hpi" }
                    House Price Index
                %li
                  %a.c-lr-header--header-proposition--a{ href: "#{relative_root.gsub(/hpi/, "ppd")}" }
                    Price Paid Data
                %li
                  %a.c-lr-header--header-proposition--a__active{ href: "#{relative_root.gsub(/hpi/, "stdreps")}" }
                    Standard Reports
                %li
                  %a.c-lr-header--header-proposition--a{ href: "#{relative_root}/qonsole" }
                    SPARQL query

    .o-lr-top-bar


    =render partial: "common/flash_message"

    .container.o-container{ role: "main"}
      .phase-banner
        %p
          %strong.phase-tag BETA
          %span.text-muted
            This is a new service – your <a href="mailto:commercial.services@landregistry.gsi.gov.uk">feedback</a> will help us to improve it.
      .row
        .col-md-12
          = yield

    = render partial: "common/footer"

    /
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21165003-6']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      #fb-root
      :javascript
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
